body{
    margin: 0;
    padding: 0;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
}

.wrapper{
    display: flex;
    flex-direction: row;

    background-color:#353535;
    
    height: 100vh;
    width: 100vw;
}


.form-1{
    padding: 20px 20px 20px;
}
#titles-form{
    width: clamp(100px, 150px, 300px);
}

.box-1{
    background-color: #f49560;
}


.box-2{
    display: flex;
    justify-items: center;
    align-items: center;

    margin: auto;
}
textarea{
    resize: none;

    background-color: #353535;

    border-style: none;
    outline: none;

    color: white;

    width:  calc(100vw - 390px);      /* calc and viewport to the rescue */
    height: calc(100vh - 150px);
}


#spacer-1{
    border: 1px black hidden;
    box-sizing: border-box;
    padding: 0px 20px 0px;
}

/* title */
#title{
    font-size: 45px;
    color: #605656;
    font-family: 'Poppins', sans-serif;
}
#login-label{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.flash-msg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#flash-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

/* login */
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3f3f3f;
    height: 100vh;
    width: 100vw;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f49560;

    padding: 30px 50px 30px;
    border-radius: 30px;

    box-shadow: 0px 10px 10px #353535;
}

#form-btn{
    margin-top: 10px;
    padding: 5px 40px 5px;
    border-radius: 20px;

    background-color: #605656;

    margin-bottom: 10px;    

    color: white;

    border-style: none;
}

#form-link{
    color: black;
    
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    color: white;
}
#username-form{
    height: 30px;
    width: 200px;

    padding: 0px 5px 0px;
    margin-bottom: 10px;

    border-style: none;
}

/* accounts name */
#warning{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(15px, 10px, 15px);

    margin-left: 10px;
    
    color: white;
}

#account-name{
    font-family: 'Poppins', sans-serif;
}

#logout{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.username-display{
    margin-top: 15px;
    margin-left: 20px;
}


/* notes */
#title-notes{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.notes-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#notes-name{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
}

#notes-name:hover, #delete-btn:hover{
    color: #995c3c;
}

#notes-name:active { background: aqua; }

#notes-name:focus  { background: aqua }

#delete-btn{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;

    font-size: 10px;
}

#small-btn{
    border-radius: 20px;
    border-style: none;
    background-color: #605656;
    color: white;
    padding: 2px 10px 2px;
}

#small-btn:hover{
    background-color: #211d1d;
}

/* burger btn */
#burger-btn{
    color: white;
    font-size: 25px;
    background-color: #f49560;
    border-style: none;

}

#burger-btn:hover{
    color:#605656
}

.burger-btn-panel{
    background-color: #f49560;
}

.warning-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.admin-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-table-1{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}
.group-table-2{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}

.information-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-group, .table-row, .table-headers, .table-data{
    border: black 2px solid;
    border-collapse: collapse;
}

.information-1, .information-2{
    margin: 0px 20px 0px;
}