body{
    margin: 0;
    padding: 0;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
}

.wrapper{
    display: flex;
    flex-direction: row;

    background-color: rgb(110, 110, 110);
    
    height: 100vh;
    width: 100vw;
}


.form-1{
    padding: 20px 20px 20px;
}
#titles-for{
    width: 30px;
}
.notes-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1{
    background-color: rgb(207, 185, 155);
}


.box-2{
    display: flex;
    justify-items: center;
    align-items: center;

    margin: auto;
}
textarea{
    resize: none;

    width:  calc(100vw - 300px);      /* calc and viewport to the rescue */
    height: calc(100vh - 140px);
}

#spacer-1{
    border: 1px black hidden;
    box-sizing: border-box;
    padding: 0px 20px 0px;
}

/* title */
.title-container{ 
    background-color: rgb(115, 115, 115);
    height: 100vh;
    width: 400vh;
    
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 60px;

    font-family: 'Poppins', sans-serif;

    height:100vh;

    margin: 0px 20px 0px;
}
#login-label{
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* login */
.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;    

    white-space: nowrap;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3f3f3f;
    height: 100vh;
    width: 100vw;
}

.buttons-group{
    margin-top: 2px;
}

#login-btn{
    margin-top: 10px;
    padding: 3px 20px 3px;
    border-radius: 20px;

    border-style: none;
}
#register-btn{
    margin-top: 10px;
    padding: 3px 20px 3px;
    border-radius: 20px;

    border-style: none;

}
#register-link{
    color: black;
    text-decoration: none;
}
#username-form{
    height: 30px;
    width: 170px;

    border-radius: 20px;
    padding: 0px 5px 0px;
}
.group-login{
    padding: 0px 30px 0px;
}


.admin-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-form{
    margin:10px 10px 10px;
}

.group-table-1{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}
.group-table-2{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}

.information-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-group, .table-row, .table-headers, .table-data{
    border: black 2px solid;
    border-collapse: collapse;
}

.information-1, .information-2{
    margin: 0px 20px 0px;
}