body{
    margin: 0;
    padding: 0;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
}

.wrapper{
    display: flex;
    flex-direction: row;

    background-color: rgb(110, 110, 110);
    
    height: 100vh;
    width: 100vw;
}


.form-1{
    padding: 20px 20px 20px;
}
#titles-for{
    width: 30px;
}
.notes-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1{
    background-color: rgb(207, 185, 155);
}


.box-2{
    display: flex;
    justify-items: center;
    align-items: center;

    margin: auto;
}
textarea{
    resize: none;

    width:  calc(100vw - 300px);      /* calc and viewport to the rescue */
    height: calc(100vh - 140px);
}

#spacer-1{
    border: 1px black hidden;
    box-sizing: border-box;
    padding: 0px 20px 0px;
}

/* title */
#title{
    font-size: 45px;
    color: #605656;
    font-family: 'Poppins', sans-serif;
}
#login-label{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.flash-msg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#flash-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

/* login */
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3f3f3f;
    height: 100vh;
    width: 100vw;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f49560;

    padding: 30px 50px 30px;
    border-radius: 30px;

    box-shadow: 0px 10px 10px #353535;
}

#form-btn{
    margin-top: 10px;
    padding: 5px 40px 5px;
    border-radius: 20px;

    background-color: #605656;

    margin-bottom: 10px;    

    color: white;

    border-style: none;
}

#form-link{
    color: black;
    
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    color: white;
}
#username-form{
    height: 30px;
    width: 200px;

    padding: 0px 5px 0px;
    margin-bottom: 10px;

    border-style: none;
}


.admin-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-table-1{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}
.group-table-2{
    display: flex;
    justify-content: center;
    
    margin: 20px 0px 20px;
}

.information-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-group, .table-row, .table-headers, .table-data{
    border: black 2px solid;
    border-collapse: collapse;
}

.information-1, .information-2{
    margin: 0px 20px 0px;
}