{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <!-- <button id="show-panel"><<</button> -->
    <div class="box-1" id="panel">
        <header>{{ usr_name }}</header>
        <div class="form-1">
            <form action="/add" method="POST" id="form-group">
                <input type="text" name="titles" id="titles-form" placeholder="add titles here here">
                <input type="submit" id="add-btn" value="Add">
            </form>

            <table class="notes-list">
                {% for notes in Notes %}
                <tr>
                    <th>
                        <a href='/{{ notes.id }}'>{{ notes.title }}</a>
                        <a id="delete-btn" href="/delete/{{ notes.id }}">[x]</a>
                    </th>
                </tr>
                {% endfor %}
            </table>
            <a id="logout" href="/logout">Logout</a>  
        </div>
    </div>
    <div class="box-2">
    <h1 id="warning">No notes yet</h1>
</div>
</div>

{% endblock %} 
