{% extends 'base.html' %}

{% block title %}
<title>Your write-ups</title>  
{% endblock %}

{% block content %}
<div class="wrapper">
    <!-- <button id="show-panel"><<</button> -->
    <div class="box-1" id="panel">
        <header class="username-display">
            <b id="account-name">{{ usr_name }}</b>
            <a id="logout" href="/logout">Logout </a>
        </header>
        <div class="form-1">
            <form action="/add" method="POST" id="form-group">
                <input type="text" name="titles" id="titles-form" placeholder="add titles here here">
                <input type="submit" id="small-btn" value="Add">
            </form>

            <table class="notes-list">
                {% for notes in Notes %}
                <tr>
                    <th>
                        <a id="notes-name" href='/{{ notes.id }}'>{{ notes.title }}</a>
                        <a id="delete-btn" href="/delete/{{ notes.id }}">| X </a>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="box-2">
    <h1 id="warning">No notes yet</h1>
</div>
</div>

{% endblock %} 
