{% extends 'base.html' %}

{% block title %}
<title>register</title>  
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <div class="login-container">
    <form action="/register" method="POST">
        <div class="login-form">
            <h1 id="title">WriteUp</h1>
            <input type="text" name="username-form" id="username-form" placeholder="username">
            <input id="form-btn" type="submit" value="REGISTER">
            <a id="form-link" href="/">Login</a>
        </div>
        <div class="flash-msg">
            <div id="flash-text">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}