{% extends 'base.html' %}

{% block title %}
<title>Your write-ups</title>  
{% endblock %}

{% block content %}
<div class="wrapper">
    <!-- <button id="show-panel"><<</button> -->
    <div class="box-1" id="panel">
        <header>
            Account of: <b>{{ usr_name }}</b>
            <a id="logout" href="/logout">Logout</a>
        </header>
        <div class="form-1">
            <form action="/add" method="POST" id="form-group">
                <input type="text" name="titles" id="titles-form" placeholder="add titles here here">
                <input type="submit" id="add-btn" value="Add">
                <br/>
            </form>
            <table class="notes-list">
                {% for notes in Notes %}
                <tr>
                    <th>
                        <a href='/{{ notes.id }}'>{{ notes.title }}</a>
                        <a id="delete-btn" href="/delete/{{ notes.id }}">X</a>
                    </th>
                </tr>   
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="spacer-1"></div>
    <div class="box-2">
        <div class="form-2">
            <form spellcheck="false" action="/update/{{ id_content }}", method="POST">
                <h1 id="title-notes">{{ notes_open.title }}</h1>
                <textarea placeholder="Type here..." name="text-content" id="text-content">{{ notes_open.content }}</textarea>
                <br>
                <input id="save-btn" type="submit" name="Save-data" value="Save">
            </form>
        </div>
    </div>
    <div id="spacer-1"></div>
</div>
{% endblock %} 
